/**variables**/
/**Fonts**/
$OpenSans: 'Open Sans', sans-serif
$regular: 400
$medium: 600
$bold: 700
/**Colors**/
$white: #fff
$black: #000
$yellow: #f1f400
$gray: #eeeeee
/**general**/
body
	font-family: $OpenSans
	color: $black
.no-padding
	padding-left: 0
	padding-right: 0
.desktop
	display: block
.mobile
	display: none