.main-gallerie
	position: relative
	float: left
	width: 100%
	img
		display: block
		max-width: 100%
		width: 100%
	.slick-arrow
		display: none !important
	.slide-show
		background-size: cover !important
		background-repeat: no-repeat !important
		background-position: top center !important
		position: relative
		padding: 25% 0
		height: 150px
		width: 100%
		.info-banner
			position: absolute
			left: 0
			top: 50%