header
	.logo
		padding: 15px 0
		img
			display: block
			width: 140px
	nav
		ul
			list-style: none
			padding: 0
			margin: 0
			width: 100%
			text-align: right
			li
				display: inline-block
				a
					display: block
					font-family: $OpenSans
					font-weight: $bold
					font-size: 14px
					color: $black
					text-transform: uppercase
					padding: 24px 26px
					&.active, &:hover
						background-color: $yellow
						text-decoration: none
						color: $black
				&:last-child
					a
						border-left: 1px solid #dcdcdc
						background-color: $gray
	.hamburger-menu
		display: none